<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>

<div class="video">
	<div class='embed-container'>
		<iframe src='https://www.youtube.com/embed/3XS7tQ8bM68' frameborder='0' allowfullscreen></iframe>
	</div>
</div>

<hr>

<div class="timeline">
	<h1>Timeline</h1>
	<div class="col-md-6">
	  <%= image_tag('large.png', class: 'd-block img-fluid img-responsive', alt: 'About') %>
	</div>
	
	<div class="col-md-6">
		<div class="timeline-item" date-is='2014-2017'>
			<h2>Communications Manager<br><span>Tiong Nam Logistics</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2012-2014'>
			<h2>Graphic Designer<br><span>Freelance</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2011-2011'>
			<h2>Graphic Designer<br><span>Blue Pie Records</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2009-2014'>
			<h2>Graphic Designer (volunteer)<br><span>Project Futures</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2008-2009'>
			<h2>Bachelor of Communications (Design)<br><span>Swinburne University of Technology</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2006-2008'>
			<h2>Advanced Diploma in Communication Design<br><span>Billy Blue School of Graphic Arts</span></h2>
		</div>
		
		<div class="timeline-item" date-is='2005-2006'>
			<h2>Certificate IV in Communications<br><span>UNSW Foundation Year</span></h2>
		</div>
	</div>
</div>
</div>
