    <% @message.each do |message| %>
    <div class="col-md-4">
        <h1><%= message.name %></h1>
        <p><%= message.email %></p>
        <p><%= message.content %></p>
        <div class="fb-like" data-href="https://powerful-plains-76550.herokuapp.com/" data-width="50px" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
    <% end %>