<div class="page-header">
  <h1><%= @article.title %></h1>
</div>

<div class="container">
  <%= link_to '<< Back to All Articles', articles_path %>
  <br><br>
  <p><%= @article.text %></p>
  <%= link_to 'Edit Article', edit_article_path(@article), class: 'label label-warning' %>
</div>