<!DOCTYPE html>
<html>
  <head>
    <title>Pearly Ong | Technical Task Submission</title>
    <%= render 'layouts/scripts' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>